<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/contactUs.css">
    <title>Contact Us</title>
</head>
<body>
    

    <header>

        <div id="innerHeader">

            <div id="logoContainer">

                <h1>Happy Helper</h1>

            </div>

        <ul class="navBar">

            <a href="/"><li>Home</li></a>
            <a href="howFeeling"><li>How are you feeling?</li></a>
            <a href="contactUs"><li>Contact us</li></a>
            <a href="info"><li>Information</li></a>

        </ul>

        </div>
    </header>


    <div id="body">

        <img id="pic1" src="images/0e3628b3b62eb9ac9344feef13a6772a.jpg">

        <div id="innerBody"> 

            <h2>Who Am I?</h2>

            <p>
                              I am an 18 year old girl that goes to school and this website is a project
                              of two of my classes. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                              Architecto harum minima ipsam suscipit voluptas, modi reprehenderit soluta doloribus
                              eos, expedita debitis explicabo quo cumque ex optio beatae odit fuga eaque.
            </p>

        </div>

        <div id="innerBody2"> 

            <h2>Why Did I Make This Website?</h2>

            <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit molestiae eaque ea maiores
                              soluta nobis voluptatibus natus accusamus enim quis, fugiat consequuntur repudiandae blanditiis
                              ipsum quisquam excepturi, numquam vero adipisci!
            </p>

        </div>

        <div id="innerBody3"> 

            <h2>What Is The Goal Of This Website?</h2>

            <p>
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                              Architecto harum minima ipsam suscipit voluptas, modi reprehenderit soluta doloribus
                              eos, expedita debitis explicabo quo cumque ex optio beatae odit fuga eaque.
            </p>

        </div>

        <img id="pic2" src="images/882fa04e756ea36531999a79b567aac6.jpg">
        
        
    </div>

    <footer>

        <div class="innerFooter">
            <ul id="footerLinks">
                <a href="https://www.instagram.com/isabellaisaxsson/"><li><img id="pic5" src="images/1024px-Instagram_icon.png"></li></a>
                <a href="https://www.facebook.com/isabella.isaksson.75/"><li><img id="pic6" src="images/Facebook-icon.png"></li></a>
                <a href="https://www.linkedin.com/in/isabella-isaksson-904bab205/"><li><img id="pic7" src="images/1024px-Linkedin_icon.svg.png"></li></a>
            </ul>
        </div>
    </footer>

</body>
</html>