<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    
    <title>Home</title>
</head>
<body>
    

    <header>

        <div id="innerHeader">

            <div id="logoContainer">

                <h1>Happy Helper</h1>

            </div>

        <ul class="navBar">

            <a href="/"><li>Home</li></a>
            <a href="howFeeling"><li>How are you feeling?</li></a>
            <a href="contactUs"><li>Contact us</li></a>
            <a href="info"><li>Information</li></a>

        </ul>

        </div>
    </header>


    <div id="body">

        

    <div id="innerBody">

        <h2>What Is This Website?</h2>

        <p>
                          This website is a place where people are supposed to feel safe
                          to talk about how they actually feel. You can write to the website and say how you are feeling
                          in this moment, wether it is good or bad. The page is going to then save what you have written in a database
                          only to post how it is that you are feeling to yourself in the webbpage. If you are not comfortable with this
                          or if you want to talk to a proffessional instead, we have links to that in the page called Information.
        </p>

    </div>

    <img class="pic1" src="images/indexpic.jpg">

    <img class="pic2" src="images/r o s i e.jpg">

    <img class="pic3" src="images/Kiwi Fruit Wallpaper.png">

    <div id="innerBody2">

        <h2>How Are You Feeling Today?</h2>

        <p>
                        If you need somebody to talk to but you don't want to
                        talk to an actual person, click on the button to the
                        right! It takes you to the other page on this website.
                        On that page, you can write to the website about how you are feeling
        </p>

        <a href="howFeeling.ejs"><button id="btn1">Click Here!</button></a>

    </div>

    <img class="pic4" src="images/Northern Lights That I Photographed In My Native Finland.jpg">

    <div id="innerBody3">

        <h2>Want More Information?</h2>

        <p>
                        If you want more information on other websites
                        and organisations that can help people ferther,
                        click on the button to the right that says "CLick For
                        Information" and it will take you to the information site.
                        If you want more information on this website and
                        who it is that has created this website, click on 
                        the button that says "Click for Information on us"

        </p>

        <a href="info.html"><button id="btn2">Click For Information</button></a>
        <a href="contactUs.html"><button id="btn3">Click For Information On Us</button></a>

    </div>

    </div>

    <footer>

        <div class="innerFooter">
            <ul id="footerLinks">
                <a href="https://www.instagram.com/isabellaisaxsson/"><li><img id="pic5" src="images/1024px-Instagram_icon.png"></li></a>
                <a href="https://www.facebook.com/isabella.isaksson.75/"><li><img id="pic6" src="images/Facebook-icon.png"></li></a>
                <a href="https://www.linkedin.com/in/isabella-isaksson-904bab205/"><li><img id="pic7" src="images/1024px-Linkedin_icon.svg.png"></li></a>
            </ul>
        </div>
    </footer>

</body>
</html>