<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/info.css">
    <title>Information</title>
</head>
<body>
    

    <header>

        <div id="innerHeader">

            <div id="logoContainer">

                <h1>Happy Helper</h1>

            </div>

        <ul class="navBar">

            <a href="/"><li>Home</li></a>
            <a href="howFeeling"><li>How are you feeling?</li></a>
            <a href="contactUs"><li>Contact us</li></a>
            <a href="info"><li>Information</li></a>

        </ul>

        </div>
    </header>


    <div id="body">

        <img id="pic1" src="images/gröntkaktus.JPG">
        
        <div class="innerbody">

            <h1>If You Feel The Need To Get Help, Here Are Some Proffessionals That Can Help</h1>
            <a href="http://www.millenniallifecounseling.com"><p>https://www.millenniallifecounseling.com/</p></a>
            <a href="https://empowerfamilytherapy.com"><p>https://empowerfamilytherapy.com/</p></a>
            <a href="https://www.theraphe.com"><p>https://www.theraphe.com/</p></a>
            <a href="https://www.shiftingtidestherapy.com/"><p>https://www.shiftingtidestherapy.com/</p></a>
            <a href="https://www.stateofmindkc.com/"><p>https://www.stateofmindkc.com/</p></a>
            <a href="https://codyhiggs.com/"><p>https://codyhiggs.com/</p></a>

        </div>

        <img id="pic2" src="images/b8e0e9082841d17453abbd2879d45811.jpg">
        <img id="pic3" src="images/cc9b40dc7425c7ff4bdfdf9d27171325.jpg">

        <div class="innerbody2">

            <h1>If You Are Having Really Bad Thoughts Right Now, Here Are Helpful Numbers And Websites</h1>
            <p>116 123</p>
            <a href="https://www.mind.org.uk/need-urgent-help/what-can-i-do-to-help-myself-cope/"><p>https://www.mind.org.uk/need-urgent-help/what-can-i-do-to-help-myself-cope/</p></a>
            <a href="https://chat.mind.se/"><p>https://chat.mind.se/</p></a>
            <a href="https://suicidepreventionlifeline.org/"><p>https://suicidepreventionlifeline.org/</p></a>
            <a href="https://suicidepreventionlifeline.org/talk-to-someone-now/"><p>https://suicidepreventionlifeline.org/talk-to-someone-now/</p></a>
            <a href="https://29k.org/helplines"><p>https://29k.org/helplines</p></a>

        </div>

        <img id="pic4" src="images/a14c2a90bfedf0168463df7ad1b307f1.jpg">

        <div class="innerbody3">

            <h1>It Is Okay To Ask For Help</h1>
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Quod at fuga cum itaque
                totam vel delectus unde quasi tenetur
                ullam reiciendis nobis tempora veniam,
                maiores libero quisquam laborum magni in.</p>

        </div>
    </div>


    <footer>

        <div class="innerFooter">
            <ul id="footerLinks">
                <a href="https://www.instagram.com/isabellaisaxsson/"><li><img id="pic5" src="images/1024px-Instagram_icon.png"></li></a>
                <a href="https://www.facebook.com/isabella.isaksson.75/"><li><img id="pic6" src="images/Facebook-icon.png"></li></a>
                <a href="https://www.linkedin.com/in/isabella-isaksson-904bab205/"><li><img id="pic7" src="images/1024px-Linkedin_icon.svg.png"></li></a>
            </ul>
        </div>
    </footer>

</body>
</html>